@model Book

<form asp-action="DeletePost" method="post">
	<input type="hidden" asp-for="Id"/> <!--Getirmesi için id ile methodu tanımladım-->
	<div class="border p-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">Delete a Book </h2>
		</div>
		<hr />
		 

		<div class="mb-3">
			<label asp-for="BookName" class="p-0"></label>
			<input asp-for="BookName" disabled class="form-control" />
			
		</div>
		<div class="mb-3">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" disabled class="form-control" />
			<span asp-validation-for="Description" class="text-bg-danger"></span> @* Hata Mesajı *@

		</div>
		<div class="mb-3">
			<label asp-for="Author" class="p-0"></label>
			<input asp-for="Author" disabled class="form-control" />
			<span asp-validation-for="Author" class="text-bg-danger"></span> @* Hata Mesajı *@

		</div>
		<div class="mb-3">
			<label asp-for="Price" class="p-0"></label>
			<input asp-for="Price" disabled class="form-control" />
			<span asp-validation-for="Price" class="text-bg-danger"></span> @* Hata Mesajı *@

		</div>


		<button type="submit" class="btn btn-lg btn-primary" style="width:200px">Delete a Book </button> <!--HttpPost kısmı-->
		
		<a asp-controller="Book" asp-action="Index" class="btn btn-lg btn-primary" style="width:200px">Return to Books </a>

	</div>




</form>