
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/StyleSheet.css" />


</head>

<body>
	<div class="row">
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/Agatha_Christie.png" alt="Agatha Christie" style="width:100px; height:100px" />
					<p class="text-title">Agatha Christie</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>

			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/L.N.Tolstoy_Prokudin-Gorsky.jpg" alt="Tolstoy" style="width:100px; height:100px"  />
					<p class="text-title">Tolstoy  Gorsky</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/jackLondon.jpg" alt="JackLondon" style="width:100px; height:100px" />
					<p class="text-title">Jack London</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>

			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/yasarKemal.jpg" alt="YasarKemal" style="width:100px; height:100px" />
					<p class="text-title">Yasar Kemal</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>

			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/Tomris_uyar.jpg" alt="TomrisUyar" style="width:100px; height:100px" />
					<p class="text-title">Tomris Uyar</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>

			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-details">
					<img src="~/images/cemalSureyya.jpg" alt="CemalSureyya" style="width:100px; height:100px" />
					<p class="text-title">Cemal Süreyya</p>
					<p class="text-body"> </p>
				</div>

				<a asp-controller="Authors" asp-action="Details" class="card-button">More info</a>

			</div>
		</div>

	</div>
	
	
</body>
</html>
